<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ReservationChambreHotel</display-name>
  <welcome-file-list>
    <welcome-file>Hotel.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>clientServlet</display-name>
    <servlet-name>clientServlet</servlet-name>
    <servlet-class>com.hotel.servlet.clientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientServlet</servlet-name>
    <url-pattern>/clientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientDecconxionServlet</display-name>
    <servlet-name>clientDecconxionServlet</servlet-name>
    <servlet-class>com.hotel.servlet.clientDecconxionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientDecconxionServlet</servlet-name>
    <url-pattern>/clientDecconxionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientConnexionServlet</display-name>
    <servlet-name>clientConnexionServlet</servlet-name>
    <servlet-class>com.hotel.servlet.clientConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientConnexionServlet</servlet-name>
    <url-pattern>/clientConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.hotel.servlet.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hotelServlet</display-name>
    <servlet-name>hotelServlet</servlet-name>
    <servlet-class>com.hotel.servlet.hotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotelServlet</servlet-name>
    <url-pattern>/hotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHotel</display-name>
    <servlet-name>DeleteHotel</servlet-name>
    <servlet-class>com.hotel.servlet.DeleteHotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHotel</servlet-name>
    <url-pattern>/DeleteHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailHotelServlet</display-name>
    <servlet-name>detailHotelServlet</servlet-name>
    <servlet-class>com.hotel.servlet.detailHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailHotelServlet</servlet-name>
    <url-pattern>/detailHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifHotelServlet</display-name>
    <servlet-name>ModifHotelServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ModifHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifHotelServlet</servlet-name>
    <url-pattern>/ModifHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutHotelServlet</display-name>
    <servlet-name>AjoutHotelServlet</servlet-name>
    <servlet-class>com.hotel.servlet.AjoutHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutHotelServlet</servlet-name>
    <url-pattern>/AjoutHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recherche</display-name>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>com.hotel.servlet.Recherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/Recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClient</display-name>
    <servlet-name>DeleteClient</servlet-name>
    <servlet-class>com.hotel.servlet.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClient</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutClientServlet</display-name>
    <servlet-name>AjoutClientServlet</servlet-name>
    <servlet-class>com.hotel.servlet.AjoutClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutClientServlet</servlet-name>
    <url-pattern>/AjoutClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifClientServlet</display-name>
    <servlet-name>ModifClientServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ModifClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifClientServlet</servlet-name>
    <url-pattern>/ModifClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReservation</display-name>
    <servlet-name>DeleteReservation</servlet-name>
    <servlet-class>com.hotel.servlet.DeleteReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReservation</servlet-name>
    <url-pattern>/DeleteReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifReservationServlet</display-name>
    <servlet-name>ModifReservationServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ModifReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifReservationServlet</servlet-name>
    <url-pattern>/ModifReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientDetailServlet</display-name>
    <servlet-name>ClientDetailServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ClientDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientDetailServlet</servlet-name>
    <url-pattern>/ClientDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheClient</display-name>
    <servlet-name>RechercheClient</servlet-name>
    <servlet-class>com.hotel.servlet.RechercheClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheClient</servlet-name>
    <url-pattern>/RechercheClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FideliteServlet</display-name>
    <servlet-name>FideliteServlet</servlet-name>
    <servlet-class>com.hotel.servlet.FideliteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FideliteServlet</servlet-name>
    <url-pattern>/FideliteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statistisques</display-name>
    <servlet-name>Statistisques</servlet-name>
    <servlet-class>com.hotel.servlet.Statistisques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statistisques</servlet-name>
    <url-pattern>/Statistisques</url-pattern>
  </servlet-mapping>
</web-app>